{% load static %}
<!-- footer-section-start-->
<div class="footer landing-footer section-py-space" id="footer">  
    <div class="container-fluid fluid-space">
      <div class="landing-center">
        <div class="feature-content">
          <div> 
            <h2>The Admiro Bootstrap admin theme trusted by many developers world wide.</h2>
            <div class="footer-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></div>
          </div><a class="btn btn-primary footer-btn" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank">Buy Now</a>
        </div>
      </div>
      <div class="sub-footer row g-md-2 g-3">
        <div class="col-md-6">
          <div class="left-subfooter"><img class="img-fluid" src="{% static 'assets/images/landing/logo/footer.png' %}" alt="logo">
            <p class="mb-0">Copyright 2024 &copy; Admiro theme by pixelstrap</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-subfooter">
            <h3>If You Like Our Theme So Please Rate Us</h3>
            <ul>
              <li><a href="https://support.pixelstrap.com/" target="_blank">Get Support</a></li>
              <li><a href="https://docs.pixelstrap.net/admin/admiro/document/" target="_blank">Documentation</a></li>
              <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe6hKUXw_By-pg7yabL0FxoTM02ZPTxoXy8PE3yboRuUCuyeA/viewform" target="_blank">Hire Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="shape">
      <li class="shape1"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape1.png' %}" alt=""></li>
      <li class="shape2"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape2.png' %}" alt=""></li>
      <li class="shape3"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape3.png' %}" alt=""></li>
      <li class="shape4"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape4.png' %}" alt=""></li>
      <li class="shape5"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape5.png' %}" alt=""></li>
      <li class="shape7"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape1.png' %}" alt=""></li>
      <li class="shape8"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape1.png' %}" alt=""></li>
      <li class="shape9"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape7.png' %}" alt=""></li>
      <li class="shape10"><img class="img-fluid" src="{% static 'assets/images/landing/footer/shape7.png' %}" alt=""></li>
    </ul>
  </div>
  <!-- footer-section-end-->