{% extends 'public/base.html' %}
{% load static %}

{% block content %}

<!--home-section-end-->
<!--page-section-start-->
<section class="section-py-space landing-page-design" id="layout">
  <div class="title-style wow pulse">
    <h5 class="main-title">Trending & Clean Design Collection<span class="description-title">Creative & Unique Admin Layout</span></h5>
  </div>
  <div class="container-fluid fluid-space">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
        <div class="layout-box">
          <div class="layout-name">
            <div class="dot-img">
              <ul class="dot-group"> 
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div><a href="index.html" target="_blank">Default Dashboard</a>
          </div>
          <div class="img-wrraper"><a href="index.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/layout/1.png' %}" alt=""></a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
        <div class="layout-box mt-4 mt-sm-0">
          <div class="layout-name">
            <div class="dot-img">
              <ul class="dot-group"> 
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div><a href="dashboard-02.html" target="_blank">Ecommerce Dashboard</a>
          </div>
          <div class="img-wrraper"><a href="dashboard-02.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/layout/2.png' %}" alt=""></a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <div class="layout-box mt-4 mt-lg-0">
          <div class="layout-name">
            <div class="dot-img">
              <ul class="dot-group"> 
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div><a href="dashboard-03.html" target="_blank">Education Dashboard</a>
          </div>
          <div class="img-wrraper"><a href="dashboard-03.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/layout/3.png' %}" alt=""></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--page-section-end-->
<!-- frameworks-section-start-->
<section class="section-py-space framework-section" id="frameworks">
  <div class="container-fluid fluid-space">
    <div class="title-style wow pulse">
      <h5 class="main-title">Trending & Clean Design Collection<span class="description-title">Top Frameworks</span></h5>
    </div>
  </div>
  <div class="container">
    <div class="row"> 
      <div class="col-sm-12 framworks"> 
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home-tab" role="tabpanel" aria-labelledby="pills-home-tab">
            <ul class="framework-list">
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.15s" style="visibility: visible; animation-duration: 0.15s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/bootstrap.png' %}" alt=""></div>
                <h4>Bootstrap 5</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.16s" style="visibility: visible; animation-duration: 0.16s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/css.png' %}" alt=""></div>
                <h4>CSS </h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.17s" style="visibility: visible; animation-duration: 0.17s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/sass.png' %}" alt=""></div>
                <h4>Sass</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.18s" style="visibility: visible; animation-duration: 0.18s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/pug.png' %}" alt=""></div>
                <h4>Pug</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.19s" style="visibility: visible; animation-duration: 0.19s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/npm.png' %}" alt=""></div>
                <h4>NPM</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.20s" style="visibility: visible; animation-duration: 0.20s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/charts.png' %}" alt=""></div>
                <h4>Charts</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.21s" style="visibility: visible; animation-duration: 0.21s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/gulp.png' %}" alt=""></div>
                <h4>Gulp</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.22s" style="visibility: visible; animation-duration: 0.22s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/kit.png' %}" alt=""></div>
                <h4>Starter Kit</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.23s" style="visibility: visible; animation-duration: 0.23s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/uikits.png' %}" alt=""></div>
                <h4>40+ UI Kits</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.25s" style="visibility: visible; animation-duration: 0.25s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/builders.png' %}" alt=""></div>
                <h4>Builders</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.26s" style="visibility: visible; animation-duration: 0.26s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/iconset.png' %}" alt=""></div>
                <h4>11 Icon Sets</h4>
              </li>
              <li class="wow pulse" data-wow-iteration="5" data-wow-duration="0.27s" style="visibility: visible; animation-duration: 0.27s; animation-iteration-count: 5;">
                <div class="framework-bg"><img src="{% static 'assets/images/landing/icon/html/forms.png' %}" alt=""></div>
                <h4>Forms</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--frameworks-section-end-->
<!-- application-section-start-->
<section class="section-py-space application-section" id="applications">
  <div class="container-fluid fluid-space">
    <div class="row"> 
      <div class="col-sm-12 wow pulse">
        <div class="title-style wow pulse">
          <h5 class="main-title">Usefull Application<span class="description-title">Fast & Powerful Applications</span></h5>
        </div>
      </div>
      <div class="col-sm-12 application">
        <div class="row application-block g-xl-5 g-4">
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="social-app.html" target="_blank">Social App</a>
              </div>
              <div class="img-wrraper"><a href="social-app.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/1.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="knowledgebase.html" target="_blank">Knowledgebase</a>
              </div>
              <div class="img-wrraper"><a href="knowledgebase.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/2.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="support-ticket.html" target="_blank">Support Ticket</a>
              </div>
              <div class="img-wrraper"><a href="support-ticket.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/3.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="letter-box.html" target="_blank">Letter Box</a>
              </div>
              <div class="img-wrraper"><a href="letter-box.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/4.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="to-do.html" target="_blank">To-Do</a>
              </div>
              <div class="img-wrraper"><a href="to-do.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/5.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="job-cards-view.html" target="_blank">Job Search</a>
              </div>
              <div class="img-wrraper"><a href="job-cards-view.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/6.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="product.html" target="_blank">Ecommerce</a>
              </div>
              <div class="img-wrraper"><a href="product.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/7.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="kanban-board.html" target="_blank">Kanban</a>
              </div>
              <div class="img-wrraper"><a href="kanban-board.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/8.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="file-manager.html" target="_blank">File Manager </a>
              </div>
              <div class="img-wrraper"><a href="file-manager.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/9.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="project-list.html" target="_blank">Project </a>
              </div>
              <div class="img-wrraper"><a href="project-list.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/10.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="contacts.html" target="_blank">Contacts </a>
              </div>
              <div class="img-wrraper"><a href="contacts.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/11.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow pulse">
            <div class="layout-box">
              <div class="layout-name">
                <div class="dot-img">
                  <ul class="dot-group">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div><a href="private-chat.html" target="_blank">Chat </a>
              </div>
              <div class="img-wrraper"><a href="private-chat.html" target="_blank"><img class="img-fluid" src="{% static 'assets/images/landing/application/12.png' %}" alt=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- application-section-end-->
<!-- features-section-start-->
<section class="section-py-space features-section" id="core-feature">
  <div class="container-fluid fluid-space">
    <div class="row"> 
      <div class="col-sm-12 wow pulse">
        <div class="title-style wow pulse">
          <h5 class="main-title">Why you choose Admiro<span class="description-title">Unique Features</span></h5>
        </div>
      </div>
    </div>
    <div class="row g-4 g-md-5 feature-content"> 
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.1s" style="visibility: visible;-webkit-animation-duration: 0.1s; -moz-animation-duration: 0.1s; animation-duration: 0.1s;">
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white">
            <div><img src="{% static 'assets/images/landing/feature-icon/1.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Quality & Clean Code</h5>
          <p class="mb-0">All you need to know of using clean code as a manager to make your team and your software awesome.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.2s" style="visibility: visible;-webkit-animation-duration: 0.0.2s; -moz-animation-duration: 0.0.2s; animation-duration: 0.0.2s;">
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white">
            <div><img src="{% static 'assets/images/landing/feature-icon/2.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Bootstrap v5.0 </h5>
          <p class="mb-0">Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.3s" style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;"> 
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white"> 
            <div><img src="{% static 'assets/images/landing/feature-icon/3.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Handmade Icons</h5>
          <p class="mb-0">let’s learn how to use our own svg icons in riho admin template. icon system with svg sprites</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.4s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;"> 
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white"> 
            <div><img src="{% static 'assets/images/landing/feature-icon/4.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Limitless Components</h5>
          <p class="mb-0">The limitless layout collection and ui kit library is the biggest collection of layout for web design</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.5s" style="visibility: visible;-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; animation-duration: 0.5s;"> 
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white"> 
            <div><img src="{% static 'assets/images/landing/feature-icon/5.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Easy Customizable</h5>
          <p class="mb-0">For novices, this is a simple step-by-step approach. alter the layout, settings, and content</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.6s" style="visibility: visible;-webkit-animation-duration: 0.6s; -moz-animation-duration: 0.6s; animation-duration: 0.6s;"> 
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white"> 
            <div><img src="{% static 'assets/images/landing/feature-icon/6.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Responsive</h5>
          <p class="mb-0">Use responsive design to connect with all device users start designing your website for mobile devices.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.7s" style="visibility: visible;-webkit-animation-duration: 0.7s; -moz-animation-duration: 0.7s; animation-duration: 0.7s;">
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white">
            <div><img src="{% static 'assets/images/landing/feature-icon/7.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Premium Support</h5>
          <p class="mb-0">we are always be their for your support and you are facing some issues you can create ticket.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp animated" data-wow-duration="0.8s" style="visibility: visible;-webkit-animation-duration: 8s; -moz-animation-duration: 8s; animation-duration: 8s;"> 
        <div class="feature-box common-card bg-feature">
          <div class="feature-icon bg-white">
            <div><img src="{% static 'assets/images/landing/feature-icon/8.svg' %}" alt="feature-icon"></div>
          </div>
          <h5>Colors Options</h5>
          <p class="mb-0">Admiro provide unlimited main color option other colors can change easily using sass variables</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features-section-end-->
<!-- support-section-start-->
<section class="section-py-space support-section">
  <div class="support-title">
    <h2 class="text-end">we give it as we think that excellent support is needed</h2>
    <p class="text-end">“fast issue resolution, and dedicated experts for a seamless experience”</p>
    <div class="text-end"> <a class="btn bg-primary f-w-700 support-button" href="https://support.pixelstrap.com/" target="_blank">Premium Support</a></div>
  </div>
  <div class="pricing-section">
    <div class="container">
      <div class="row">
        <div class="col-12 support-img">
          <h3>Our License</h3><img class="img-fluid" src="{% static 'assets/images/landing/unique.png' %}" alt="">
          <h4>Premium Support</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-name"> 
      <p class="big-title">Premium Support.Our License </p>
      <p class="big-title">Premium Support.Our License </p>
      <p class="big-title">Premium Support.Our License </p>
    </div>
  </div>
</section>
<!-- support-section-end-->
 {% endblock %}